amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
arabic-reshaper==2.1.3
asgiref==3.3.4
billiard==3.3.0.23
CacheControl==0.12.6
celery==3.1.18
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
cryptography==3.4.7
defusedxml==0.7.1
distlib==0.3.0
distro==1.4.0
Django==3.2
django-allauth==0.44.0
django-crispy-forms==1.11.2
future==0.18.2
html5lib==1.0.1
idna==2.8
ipaddr==2.2.0
kombu==3.0.37
lockfile==0.12.2
msgpack==0.6.2
oauthlib==3.1.0
packaging==20.3
pep517==0.8.2
Pillow==8.2.0
progress==1.5
pycparser==2.20
PyJWT==2.0.1
pyparsing==2.4.6
PyPDF2==1.26.0
python-bidi==0.4.2
python3-openid==3.2.0
pytoml==0.1.21
pytz==2021.1
reportlab==3.5.67
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
six==1.14.0
sqlparse==0.4.1
stripe==2.56.0
urllib3==1.25.8
webencodings==0.5.1
xhtml2pdf==0.2.5
amqp==5.0.6
arabic-reshaper==2.1.3
asgiref==3.3.1
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.6
defusedxml==0.7.1
Django==3.1.7
django-allauth==0.44.0
django-countries==7.1
django-crispy-forms==1.11.1
future==0.18.2
html5lib==1.1
idna==2.10
importlib-metadata==4.0.1
kombu==5.0.2
oauthlib==3.1.0
Pillow==8.2.0
prompt-toolkit==3.0.18
pycparser==2.20
PyJWT==2.0.1
PyPDF2==1.26.0
python-bidi==0.4.2
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
reportlab==3.5.67
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
sqlparse==0.4.1
stripe==2.56.0
typing-extensions==3.10.0.0
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
xhtml2pdf==0.2.5
zipp==3.4.1
amqp==5.0.6
arabic-reshaper==2.1.3
asgiref==3.3.4
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.3
django-allauth==0.44.0
django-appconf==1.0.4
django-celery-email==3.0.0
django-crispy-forms==1.11.2
future==0.18.2
html5lib==1.1
idna==2.10
importlib-metadata==4.0.1
kombu==5.0.2
oauthlib==3.1.0
Pillow==8.2.0
prompt-toolkit==3.0.18
pycparser==2.20
PyJWT==2.1.0
PyPDF2==1.26.0
python-bidi==0.4.2
python3-openid==3.2.0
pytz==2021.1
redis==3.5.3
reportlab==3.5.67
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
sqlparse==0.4.1
stripe==2.57.0
typing-extensions==3.10.0.0
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
xhtml2pdf==0.2.5
zipp==3.4.1
