{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class='container'>
    <br>
    <h2 class='display-5 text-center'>Order Summary</h2>
  <div class="table-responsive text-nowrap">

        <table class="table">
            <thead  class="table-dark">
            <tr>
                <th scope="col"># Invoice Number</th>
                <th scope="col">Verified Status</th>
                <th scope="col">Delivery  Started</th>
                <th scope="col">Delivery Reached</th>
                <th scope="col">View Invoice</th>
            </tr>
            </thead>
            <tbody>

            {% for invoice in all_invoice %}     
        
                <tr>
                        <th scope="row">
                           <button type="button" class="btn btn-purple btn-sm px-3">
                            <b style="font-size:170%">#{{ invoice.order.id }}</b>
                              
                            </button>
                          </th>
                        <td>{% if  invoice.verify_order %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}

                        </td>

                        <td>
                            {% if  invoice.delivered %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}





                        </td>

                        <td>
                            {% if  invoice.payment_done %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}
                      </td>
                        <td>





                    <a class="btn btn-info btn-sm px-3" href="{% url 'base:invoice-generate' invoice.order.id invoice.id %}" role="button">

                                    View 
                                     
                                     </a>
                 





                        </td>


            
            {% endfor %}
            </tbody>
        </table>


</div>
</div><!-- Button trigger modal -->
















    {% endblock content %}
