{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class='container'>
    <br>
    <h2 class='display-5 text-center'>Order Summary</h2>
  <div class="table-responsive text-nowrap">

        <table class="table">
            <thead  class="table-dark">
            <tr>
                <th scope="col"># Invoice Number</th>
                <th scope="col">Verified Status</th>
                <th scope="col">Delivery  Started</th>
                <th scope="col">Delivery Reached</th>
                <th scope="col">View Invoice</th>
            </tr>
            </thead>
            <tbody>

            {% for invoice in all_invoice %}     
        
                <tr>
                        <th scope="row">
                           <button type="button" class="btn btn-purple btn-sm px-3">
                            <b style="font-size:170%">#{{ invoice.order.id }}</b>
                              
                            </button>
                          </th>
                        <td>{% if  invoice.verify_order %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}

                        </td>

                        <td>
                            {% if  invoice.delivered %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}





                        </td>

                        <td>
                            {% if  invoice.payment_done %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}
                      </td>
                        <td>
                                  <button type="button" class="btn btn-info btn-sm px-3" data-toggle="modal" data-target="#exampleModalLong">
                                    View 
                                     
                                      </button> 
                 





                        </td>


            
            {% endfor %}
            </tbody>
        </table>


</div>
</div><!-- Button trigger modal -->


<!-- Modal -->
<div class="modal " id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe href="http://localhost:8000/invoice-generate/66/63/">



          
        </iframe>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>>
















    {% endblock content %}
