{% extends 'base.html' %}
{% load  crispy_forms_tags %}





{% block content %}

  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>


  <!--Main layout-->

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form  {{order.item.list }}</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="post" action=''>
                {% csrf_token %}

              <!--Username-->
              <div class="md-form input-group pl-0 mb-5">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">+91 🇮🇳️ </span>
                </div>
                {{ form.phone_number }}
                {% comment %} <input type="text" class="form-control py-0" placeholder="Phone Number" aria-describedby="basic-addon1"> {% endcomment %}
              </div>

              <!--email-->
              <div class="md-form mb-5">
                City or District Near to you 
                {{ form.city }}
                {% comment %} <input type="text" id="email" class="form-control" placeholder="youremail@example.com"> {% endcomment %}
              </div>


              <!--address-->
              <div class="md-form mb-5">
                <label for="address" class="">Address</label>
              {{ form.street_address}}
                {% comment %} <input type="text" id="address" class="form-control" placeholder="1234 Main St"> {% endcomment %}
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <label for="address-2" class="">Address 2</label>
              {{ form.apartment_address}}

                {% comment %} <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite"> {% endcomment %}
              </div>

              <!--Grid row-->
              <div class="row">
 

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Pin Code</label>


                {{ form.pin_code}}
                  {% comment %} <input type="text" class="form-control" id="zip" placeholder="Mumbai Pin Code" > {% endcomment %}
                  <div class="invalid-feedback">
                    Pin code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>


              <div class="d-block my-3">
              {% for value,name in form.fields.payment_option.choices %}



                <div class="custom-control custom-radio">
                  <input id="{{ value }}" name="payment_option" value="{{ value }}"type="radio" class="custom-control-input"  required>
                  <label class="custom-control-label" for="{{ value }}">{{ name }}</label>
                </div>
              
              {% endfor %}


              </div>
              <hr class="mb-4">
              <button class="btn btn-success btn-lg btn-block" id='checkout-button' type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.items.all|length }} Items</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">

            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              <b>
                <h6 style="text-align:center;">Order ID Number  #{{ order.id }}</h6>
                </b>
              </div>
            </li>

            {% for order_item in order.items.all %}    



            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Item  No : @{{ forloop.counter }}</h6>
                <br>
              <small class="text-muted"><b>Name : </b>{{ order_item.item.title|truncatechars:30  }}</small>
              <br>
              <small class="text-muted"><b>Quantiy :  </b>{{ order_item.qauntity }}</small>

              <br>
              <small class="text-muted"><b>Cost Per Item =</b>  ₹ &nbsp;{{ order_item.item.price }}



              
              </small>
            <br> <br>

                <small class="text-muted">
                
                {% if order_item.item.discount_price %}

                    <span class="badge rounded-pill bg-success" style="font-size:120%">
                            Saving ₹ &nbsp;{{ order_item.get_amount_saved }}
                     </span>
                      
                       {% endif %}


              
              </small>
              

           
              
              </div>
              <span class="text-muted">
                                  {% if order_item.item.discount_price %}

                                      ₹&nbsp;{{ order_item.get_total_discount_price }}
                                 {% else %}
                                      ₹{{ order_item.get_total_item_price }}



            
                    {% endif %}
              
              </span>
            </li>
             {% endfor %}

            <li class="list-group-item d-flex justify-content-between">
              <span>Total (INR )  :</span>
              <strong>₹{{ order.get_total }}</strong>
            </li>
            
          </ul>
          <!-- Cart -->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

  <!--Main layout-->
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'base:create-checkout-session' order.id %}", {
        method: "POST",

        headers:{
          'X-CSRFToken':csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });

          // The items the customer wants to buy


  </script>




{% endblock content %}
