  {% load static %}
  
  <!--Footer-->

  <footer class="page-footer text-center wow fadeIn"  style="background-color: #45637d;" style="margin-bottom:0px">
    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
                <a>Made in India 	&nbsp; 🇮🇳️  	&nbsp; with	&nbsp;  ❤️</a>
            <a >With Our Supports &nbsp;   </a>
            <a > Abhishek  Gawade  &nbsp; 😎️ </a>
            <a> Jay Firke &nbsp;  💖</a>
            <a> Vaishnavi Bhujbal &nbsp;  ✌🏻</a>
            <a> Vedant Mule &nbsp;  😁</a>
            <a> Aditya Patil &nbsp;  😍️</a>
            <a> Sagar Mahaure &nbsp;  😏️</a> 



      {% comment %} <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f mr-3"1></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a> {% endcomment %}


    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
          Copyright © 2021 JAAVS Startup 
    </div>
    <!--/.Copyright-->

  </footer>

  <!--/.Footer-->

  