{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class='container'>
  <div class="table-responsive text-nowrap">
    <h4 class='display-5'>Order Summary</h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Title</th>
                <th scope="col">Price </th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
            </tr>
            </thead>
            <tbody>

            {% for order_item in order.items.all %}     
        
                <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.title }}</td>
                        <td>{{ order_item.item.price }}</td>
                        <td>
                        <a href="{% url 'base:remove-single-item-from-cart'  order_item.item.slug %}">
                        <i class="fas fa-minus-circle mr-2"></i></a>
                                {{ order_item.qauntity }}
                                
                         <a href="{% url 'base:add-to-cart'  order_item.item.slug %}"><i class="fas fa-plus-circle ml-2"></i></a> 
                                
                                </td>
                        <td>

                        {% if order_item.item.discount_price %}
                            ${{ order_item.get_total_discount_price }}
                            <span class="badge rounded-pill bg-primary">Saving ${{ order_item.get_amount_saved }}</span>
                            
                        
                        {% else %}
                            ${{ order_item.get_total_item_price }}
                        {% endif %}
                            <a style='color:red' href="{% url 'base:remove-from-cart'  order_item.item.slug %}">
                                <i class="far fa-trash-alt float-right"></i>
                            </a>

                        
                        </td>
            
                    </tr>

                {% empty %}
                <tr>
                <td colspan="5">Your Cart is Empty</td>
                <a  class='btn btn-success float-right ml-2' href='/checkout'>Contiune Shoping </a>
                </tr>

            
            {% endfor %}

            {% if order.get_total %}
            
           

                <tr>
                    <b></b>
                    <td colspan="4">Order Total</td>
                    <td ><b>${{ order.get_total }}</b></td>
                </tr>

                <tr>
                    
                    <td colspan="5">
                    <a  class='btn btn-success float-right btn-block' href='/'>Contiune Shoping </a>

                </tr>

                <tr>
                    
                    <td colspan="5">
                    <a  class='btn btn-warning float-right btn-block' href='/checkout'>Proceed To CheckOut</a></td>

                </tr>
             {% endif %}
    
            </tbody>
        </table>


</div>
</div>



    {% endblock content %}
