
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
     {% csrf_token %}
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                        fetch("{% url 'base:create-checkout-session' order.id %}", {
                          method: "POST",

                          headers:{
                            'X-CSRFToken':csrftoken
                          }
                        })
                          .then(function (response) {
                            return response.json();
                          })
                          .then(function (session) {
                            return stripe.redirectToCheckout({ sessionId: session.id });
                          })
                          .then(function (result) {
                            // If redirectToCheckout fails due to a browser or network
                            // error, you should display the localized error message to your
                            // customer using error.message.
                            if (result.error) {
                              alert(result.error.message);
                            }
                          })
                          .catch(function (error) {
                            console.error("Error:", error);
                          });
             

        


  </script>
