{% extends 'base.html' %}
{% load date_tag %}
{% load static %}

{% block content %}
  <style type="text/css">
    .checked {
        color: #DAA520;
      }
  </style>


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">



          <div class="col-md-6 mb-4">



              <img src="{{ object.image.url }}" 
              alt="Lightbox image 1" class="img-fluid w-100" id='product_image' height="225" width="225">

              <nav>
              <ul class="pagination pg-blue">

                <!-- Numbers -->

                {% for  image_url in  images_list %}

                <li id='image{{forloop.counter}}' class="page-item {% if  forloop.counter == 1%}active{% endif %}" data='{{image_url}}'><a class="page-link waves-effect waves-effect" >{{forloop.counter }}</a></li>
                {% endfor %}
   

        
   
              </ul>
            </nav>

        








  {# <img src="{{ object.image.url }}"   alt="" class="img-fluid"> #}

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>


         <p class="lead">
         {% if object.discount_price %}
              <span class="mr-1">
                <del>₹{{object.price}}</del>
              </span>
                  
            <span>${{object.discount_price }}</span>     
          {% else %} 
            <span>${{ object.price }}</span>
          {% endif %}     
            </p>



            <p class="lead font-weight-bold">{{object.title}}</p>
                              <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p " >Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
      
              <p></p>
              <a href="{{ object.get_remove_to_cart_url }}" class="btn btn-danger btn-md my-0 p  " >Remove from Cart
              </a>
              </div>

            </div>

              
            <div class="jumbotron btn-light col-md-12 ">
            <h1 class="display-5">Description</h1>
            <hr>
            <br>
          {% autoescape off %}
              


              {{ object.description|linebreaks }}
            {% endautoescape %} 
            
            </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">
        <h4 class="my-4 h4 text-center">Comments and Reviews</h4>


        <!--Grid column-->
        <div class="col-md-12 ">
          <div class="card-deck">
        {% for review in messages_item %}
          {% if review.rating != 0 %}

                 <div class="col-sm-6">

                        <div class="card text-center border border-primary shadow-3 " >
                              <div class="card-body">
                                  <h5 class="card-title">{{review.user}}</h5>
                                  <p class="card-text">
                                    {{review.body}}
                                  </p>
                                  <p class="rating_button"  id="{{review.rating}}">

                                  
                                      {% for i in range %}
                                            {% if  i <= review.rating %}
                                               <span id='sd{{i}}' class="fa fa-star fa-3x checked"></span>

                                            {% else %}
                                              <span id='sd{{i}}' class="fa fa-star fa-3x"></span>


                                              
                                            {% endif %}
                                        


                                      {% endfor %}
                                



                              </div>

                              <div class="card-footer">{{ review|date_str_output }}</div>
                          </div>
                    </div>



                {% endif %}   

        {% endfor %}
        <!--Grid column-->
        <!-- Button trigger modal -->
          

    
      <!--Grid row-->

      <!--Grid row-->

        </div>

      <div class="row d-flex justify-content-center wow fadeIn">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Write Your Feeling</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{request.user.username}} write View on this product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="notification">  
          <div class="alert alert-danger" role="alert">

          Your Previous Review Will Be Replace By This
        </div>
          <div class="alert alert-primary" role="alert">
            Click or Tab the Star to save your review.
          </div>
        </div>


        <form method="POST" action="" class="rate-form" id="{{ object.slug }}">
          {% csrf_token %}
            Rate this Product

            <div class="container">
                  <span id="rateMe3"  class="rating-faces"></span>
                </div>

            <span id='s1' class="fa fa-star fa-3x "></span>
            <span id='s2' class="fa fa-star fa-3x "></span>
            <span id='s3' class="fa fa-star fa-3x "></span>
            <span id='s4' class="fa fa-star fa-3x "></span>
            <span id='s5' class="fa fa-star fa-3x "></span>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  id='save-post'>Submit Reviews</button>
      </div>
    </div>
  </div>
</div>






        <!--Grid column-->


      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/product_image_viewer.js' %}"></script>



  {% endblock content %}