{% load static %}
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
      <ul class="custom-scrollbar">

        <!-- Logo -->
        <li class="logo-sn waves-effect py-3">
          <div class="text-center">
            <a href="#" class="pl-0"><img src="{% static 'logo.png' %}" width="100" height="100"></a>
          </div>
          <br>
        </li>

        <!-- Search Form -->
        <!-- Side navigation links -->
        <li>
          <ul class="collapsible collapsible-accordion">


            <!-- Simple link -->
            <li>
              <a href="{% url "easylife_admin:all_items" %}" class="collapsible-header waves-effect"><i
                  class="w-fa far fa-bell"></i>All Items</a>
            </li>
            <li>
              <a href="{% url "easylife_admin:add_items" %}" class="collapsible-header waves-effect"><i
                  class="w-fa fas fa-bolt"></i>Add item</a>
            </li>
            <li>
              <a href="{% url "easylife_admin:all_user_details" %}" class="collapsible-header waves-effect"><i
                  class="w-fa fas fa-chart-pie"></i>All Users</a>
            </li>
            <li>
              <a href="../calendar/calendar.html" class="collapsible-header waves-effect"><i
                  class="w-fa far fa-calendar-check"></i>Calendar</a>
            </li>
            <li>
              <a href="../sections/sections.html" class="collapsible-header waves-effect"><i
                  class="w-fa fas fa-th-large"></i>Sections</a>
            </li>

          </ul>
        </li>
        <!-- Side navigation links -->

      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!-- Sidebar navigation -->

