{% extends "easylife_admin/admin_base.html" %}
{% load static %}
{% block content %}
 
  
    <link rel="stylesheet" type="text/css" href="{% static 'easylife_admin_static/css/addons/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'easylife_admin_static/css/addons/datatables-select.min.css' %}">




      <!-- Section: Basic examples -->
           <h1 class="text-center my-5 h1">All Users List </h1>

        <!-- Gird column -->
        <div class="col-md-12">
          

          <div class="card">
            <div class="card-body">
              <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>ID
                    </th>
                    <th>Name
                    </th>
                    <th>Email
                    </th>
                    <th>No. Order Placed
                    </th>
                    <th>Join Date
                    </th>
                    <th>Phone Number
                    </th>
                  </tr>
                </thead>
               <tbody>

                {% for user in all_user %}
                  


                  <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.get_full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>61</td>
                    <td>{{ user.date_joined|date:"d/m/y" }}</td>
                    <td>$320,800</td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID
                    </th>
                    <th>Name
                    </th>
                    <th>Email
                    </th>
                    <th>No. Order Placed
                    </th>
                    <th>Join Date
                    </th>
                    <th>Phone Number
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
        <!-- Gird column -->















  <script type="text/javascript" src="{% static 'easylife_admin_static/js/modules/addons/datatables.min.js' %}"></script>
  <!-- DataTables Select  -->
  <script type="text/javascript" src="{% static 'easylife_admin_static/js/modules/addons/datatables-select.min.js' %}"></script>

  <script>
    // SideNav Initialization


    $('#dtMaterialDesignExample').DataTable();

    $('#dt-material-checkbox').dataTable({

      columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }],
      select: {
        style: 'os',
        selector: 'td:first-child'
      }
    });

    $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function () {
      $(this).parent().append($(this).children());
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
      'input').each(function () {
      $('input').attr("placeholder", "Search");
      $('input').removeClass('form-control-sm');
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
      'd-flex flex-row');
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').addClass(
      'md-form');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
      'custom-select custom-select-sm form-control form-control-sm');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
    $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
    $('#dtMaterialDesignExample_wrapper .dataTables_filte, #dt-material-checkbox_wrapper .dataTables_filterr').find(
      'label').remove();

  </script>
{% endblock content %}



