{% extends "easylife_admin/admin_base.html" %}
{% block head_title %}Create A New Item{% endblock %}
{% load static %}




{% block content %}


      
            {% for field in form %}

              {% if field.errors %}
                   <div class="alert alert-danger alert-dismissible fade show" role="alert">
                
                  {{ field.errors }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                  </div>
                
              {% endif %}

            {% endfor %}
        
      <section class="section card mb-5 col-md-12">

        <div class="card-body">

          <!-- Section heading -->
          <h1 class="text-center my-5 h1">Create A New Product </h1>


          <!-- Grid row  -->
    <form method="post" action='' enctype="multipart/form-data" >
                    {% csrf_token %}

          <div class="row">

    

            <div class="col-md-12">

              <div class="md-form md-outline">
  

                {{form.title}}
                <label for="f2" class="">Product Title</label>
              </div>

            </div>



            <div class="col-md-6">
            	<center>

              <div class="md-form md-outline">
                {{form.price}}
                <label for="f2" class="">Orginal Price</label>
              </div></center>	

            </div>


            <div class="col-md-6 ">

              <div class="md-form md-outline">
              {{form.discount_price}}
                <label for="f3" class="">Discount Price</label>
              </div>

            </div>



            <div class="col-md-6 mb-4">
            	<label for="" class="">Product Available</label>

					<div class="switch">
			                <label>
			                  NOT Available
                        {{ form.category}}
			                  <span class="lever"></span> YES Available
			                </label>
			              </div>
            </div>

            <div class="col-md-6 mb-4">

              <div class="md-form md-outline">
                {{form.label_name}}
                <label for="f4" class="">The Word Inside a label</label>
              </div>

            </div>




                <div class="col-md-6 mb-4">

                <label>Choose Your Label Color</label>
              <div class="md-form md-outline">
                {{form.label}}


       

				         </div>

            </div>  




         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 1 (requiered and main page image)</h4><br>
                         {{form.image}}

        


            </div>


         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 2</h4><br>
                         {{form.image2}}

        


            </div>


         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 3</h4><br>
                         {{form.image3}}

        


            </div>


         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 4</h4><br>
                         {{form.image4}}

        


            </div>


         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 5</h4><br>
                         {{form.image5}}

        


            </div>


         <div class="col-md-6 mb-4">
            <h4>Choose a Product Image 6</h4><br>
                         {{form.image6}}

        


            </div>




         <div class="col-md-12">
         	<label for="" class="">Product Discrption</label>
           <div class="card mb-4">
            {{form.description}}
            </div>      

           </div>



</div>
          <!-- Grid row -->

        </div>
      <hr class="my-5">

        <button class="btn btn-success btn-lg btn-block" id='checkout-button' type="submit">Create A New Product <i class="fas fa-plus-circle"></i></button>



      </section>
          </form>
      <!-- Section: Inputs -->






<script type="text/javascript" src="{% static 'easylife_admin_static/js/vendor/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript">
  tinymce.init({ selector:'#post_content', menubar: false, height : "294" });

  </script>

{% endblock content %}



