{% extends "easylife_admin/admin_base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">

      <!-- Section: Analytical panel -->
      <section class="mt-md-4 pt-md-2 mb-5">

        <!-- First row -->
        <div class="row">

          <!-- First column -->
          <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                 <i class="fas fa-rupee-sign success-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Sales</p>
                  <h4 class="font-weight-bold ">4 571 $</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Better than last week (25%)</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- First column -->

          <!-- Second column -->
          <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-chart-line warning-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Subscriptions</p>
                  <h4 class="font-weight-bold ">375</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar red accent-2" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Worse than last week (25%)</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Second column -->

          <!-- Third column -->
          <div class="col-xl-3 col-md-6 mb-md-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

       <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-star light-blue lighten-1 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Ratings</p>
                  <h4 class="font-weight-bold ">21 479</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar red accent-2" role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Worse than last week (75%)</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Third column -->

          <!-- Fourth column -->
          <div class="col-xl-3 col-md-6 mb-0">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">
              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-shopping-cart red accent-2 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">REQUIREMENTS</p>
                  <h4 class="font-weight-bold ">4 567</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Better than last week (25%)</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Fourth column -->

        </div>
        <!-- First row -->

      </section>
      <!-- Section: Analytical panel -->

      <!-- Section: data tables -->
      <section class="pb-3">

        <!-- Grid row -->
        <div class="row">


          <!-- Grid column -->
          <div class="col-lg-9 col-md-12">

            <!-- Panel -->
            <div class="card mb-4">

              <div class="card-header white-text primary-color">
                <h3 class="font-weight-500 my-1">
                  
                  
                  <i class="far fa-comments"></i>  Comments Section (23) </h3>
              </div>

              <div class="card-body">


              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Title</th>
                      <th>Ratings</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="avatar-placeholder green darken-3">A</div> Abby Barret
                      </td>
                      <td>Can't create a modal</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 5 min</small></span></td>
                    </tr>
                    <tr>
                      <td><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" alt="Danny Collins"
                          class="avatar-32"> Danny Collins</td>
                      <td>Account changes won't save</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-3.jpg" alt="Danny Collins"
                          class="avatar-32"> Clara Ericson</td>
                      <td>How to import my campaign from Business Manager?</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder green darken-3">A</div> Abby Barret
                      </td>
                      <td>Can't create a modal</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 5 min</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder yellow darken-2">D</div> Danny Collins
                      </td>
                      <td>Account changes won't save</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder red darken-2">C</div> Clara Ericson
                      </td>
                      <td>How to import my campaign from Business Manager?</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" alt="Danny Collins"
                          class="avatar-32"> Abby Barret</td>
                      <td>Can't create a modal</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 5 min</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder yellow darken-2">D</div> Danny Collins
                      </td>
                      <td>Account changes won't save</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder red darken-2">C</div> Clara Ericson
                      </td>
                      <td>How to import my campaign from Business Manager?</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder green darken-3">A</div> Abby Barret
                      </td>
                      <td>Can't create a modal</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 5 min</small></span></td>
                    </tr>
                    <tr>
                      <td><img src="https://mdbootstrap.com/wp-content/uploads/2015/10/avatar-1.jpg" alt="Danny Collins"
                          class="avatar-32"> Danny Collins</td>
                      <td>Account changes won't save</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="avatar-placeholder red darken-2">C</div> Clara Ericson
                      </td>
                      <td>How to import my campaign from Business Manager?</td>
                      <td>5</td>
                      <td><span class="grey-text"><small><i class="far fa-clock-o"></i> 1 hour</small></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              </div>

            </div>
            <!-- Panel -->

            <!-- Panel -->
          <div class="card mb-lg-0 mb-2">

              <div class="card-header white-text primary-color">
                <h5 class="font-weight-500 my-1">Issues</h5>
              </div>

              <div class="card-body">

                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="font-weight-bold ">Status</th>
                        <th class="font-weight-bold ">Title</th>
                        <th class="font-weight-bold ">User</th>
                        <th class="font-weight-bold ">Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span class="badge green">Open</span></td>
                        <td>Lorem ipsum dolor</td>
                        <td>John Doe</td>
                        <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="badge green">Open</span></td>
                        <td>Lorem ipsum dolor</td>
                        <td>John Doe</td>
                        <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="badge warning-color">In progress</span></td>
                        <td>Lorem ipsum dolor</td>
                        <td>John Doe</td>
                        <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="badge red">Closed</span></td>
                        <td>Lorem ipsum dolor</td>
                        <td>John Doe</td>
                        <td class="hour">
                          <span class="grey-text">
                            <i class="far fa-clock-o" aria-hidden="true"></i> 12 min
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

            </div>
            <!-- Panel -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4 col-md-12">

            <!-- Panel -->
            <div class="card mb-4">

              <div class="card-header white-text primary-color">
                <h5 class="font-weight-500 my-1">Users activity</h5>
              </div>

              <div class="card-body">

                <div class="row my-2 pt-1">
                  <div class="col-4">
                    <small class="grey-text">Pages/Visits</small>
                    <h4>139 419</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">New visitors</small>
                    <h4>51.94%</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">Last week</small>
                    <h4>51 932</h4>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">
                    <small class="grey-text">Pages/Visits</small>
                    <h4>139 419</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">New visitors</small>
                    <h4>51.94%</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">Last week</small>
                    <h4>51 932</h4>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-4">
                    <small class="grey-text">Pages/Visits</small>
                    <h4>139 419</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">New visitors</small>
                    <h4>51.94%</h4>
                  </div>
                  <div class="col-4">
                    <small class="grey-text">Last week</small>
                    <h4>51 932</h4>
                  </div>
                </div>

                <button
                  class="btn btn btn-flat grey lighten-3 btn-rounded waves-effect font-weight-bold  float-right btn-dash">View
                  full report</button>

              </div>

            </div>
            <!-- Panel -->

            <!-- Panel -->
            <div class="card text-center mb-4 pt-4 pb-3 red accent-2 white-text">
              <i class="fas fa-bell fa-3x mb-3"></i>
              <h4 class="h4-responsive">28 important messages</h4>
            </div>
            <!-- Panel -->

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 mb-md-0 mb-4">

                <!-- Panel -->
                <div class="card">

                  <div class="card-header white-text grey darken-1">
                    <h5 class="font-weight-500 my-1">Orders</h5>
                  </div>

                  <h6 class="ml-4 mb-0 pt-4  font-weight-bold"><i class="fas fa-arrow-up blue-text mr-3"
                      aria-hidden="true"></i> 2000 </h6>

                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 45%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-small grey-text mt-3 mb-0">Better than last week (25%)</p>
                  </div>

                </div>
                <!-- Panel -->

              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6 mb-0">

                <!-- Panel -->
                <div class="card">
                  <div class="card-header white-text warning-color">
                    <h5 class="font-weight-500 my-1">Monthly sales</h5>
                  </div>

                  <h6 class="ml-4 mb-0 pt-4  font-weight-bold"><i class="fas fa-arrow-up blue-text mr-3"
                      aria-hidden="true"></i> $ 2000</h6>

                  <div class="card-body">
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="font-small grey-text mt-3 mb-0">Better than last week (25%)</p>
                  </div>

                </div>
                <!-- Panel -->

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: data tables -->

    </div>
{% endblock content %}
