{% extends "easylife_admin/admin_base.html" %}
{% load static %}
{% block content %}
 
  
    <link rel="stylesheet" type="text/css" href="{% static 'easylife_admin_static/css/addons/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'easylife_admin_static/css/addons/datatables-select.min.css' %}">




      <!-- Section: Basic examples -->
           <h1 class="text-center my-5 h1 m-0">Admin Dashboard</h1>
  <section class="mt-md-4 pt-md-2 mb-5">

        <!-- First row -->
        <div class="row">

          <!-- First column -->
          <div class="col-xl-2 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-rupee-sign success-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Sales</p>
                  <h8 class="font-weight-bold "> ₹ {{total_sales}} </h8>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: {{last_month_sales_percentage}}%" aria-valuenow="{{last_month_sales_percentage}}"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Last Month Sales is <b>{{last_month_sales}}</b> ({{last_month_sales_percentage}}%)</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- First column -->

          <!-- Second column -->
          <div class="col-xl-2 col-md-6 mb-xl-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-user-friends info-color mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Total Users Join</p>
                  <h4 class="font-weight-bold ">{{count_user}}</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar red accent-2" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Total Orders : {{number_of_order}}</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Second column -->

          <!-- Third column -->
          <div class="col-xl-2 col-md-6 mb-md-0 mb-4">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="far fa-eye red lighten-1 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Verification Left</p>
                  <h4 class="font-weight-bold ">{{verification_left}}</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">{{verification_pecentage}}%
                <div class="progress mb-3">
                  <div class="progress-bar red accent-2" role="progressbar" style="width: {{verification_pecentage}}%" aria-valuenow="{{verification_pecentage}}"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Number of Verification to Complete : {{ verified_order }}</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Third column -->

          <!-- Fourth column -->
          <div class="col-xl-2 col-md-6 mb-0">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-money-bill-alt warning-color lighten-1 mr-3 z-depth-2"></i>

                <div class="data">

                  <p class="text-uppercase">Payment Left</p>
                  <h4 class="font-weight-bold ">{{payment_left}}</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">{{payment_pecentage}} %
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: {{payment_pecentage}}%" aria-valuenow="{{payment_pecentage}}"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Payments Successfully  {{payment_done}}</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Fourth column -->
                    <!-- Fourth column -->
          <div class="col-xl-2 col-md-6 mb-0">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="fas fa-truck black accent-2 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Delivery Left</p>
                  <h4 class="font-weight-bold ">{{delivery_left}}</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: {{delivery_compelted_percentage}}%" aria-valuenow="{{delivery_compelted_percentage}}"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Completed Order {{delivery_compelted}}</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Fourth column -->
                    <!-- Fourth column -->
          <div class="col-xl-2 col-md-6 mb-0">

            <!-- Card -->
            <div class="card card-cascade cascading-admin-card">

              <!-- Card Data -->
              <div class="admin-up">
                <i class="far fa-check-circle success-color accent-2 mr-3 z-depth-2"></i>
                <div class="data">
                  <p class="text-uppercase">Successfully Order</p>
                  <h4 class="font-weight-bold ">{{succesfully_orders}}</h4>
                </div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade">
                <div class="progress mb-3">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: {{orders_left_percentage}}%" aria-valuenow="{{orders_left_percentage}}"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text">Orders Left ({{orders_left}})</p>
              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Fourth column -->

        </div>
        <!-- First row -->

      </section>


        <!-- Gird column -->
        <div class="col-md-12">       

          <div class="card">
                                  <div class="card-header white-text info-color">
                <h5 class="font-weight-500 my-1">Order Table</h5>
              </div>
            <div class="card-body table-responsive">
              <table id="dtMaterialDesignExample" class="table table-striped " cellspacing="0" width="100%">
                <thead class="table-dark">
                  <tr>
                    <th>ORDER ID
                    </th>
                    <th>VERIFICATION
                    </th>
                    <th>DELIVERED
                    </th>
                    <th>PAYMENTS
                    </th>
                    <th>ORDER COMPLETED
                    </th>
                  </tr>
                </thead>
               <tbody class="table table-hover">

                {% for order in all_shipments %}
                  

                  <tr>

                    <td>

      

                      <a href='{% url 'easylife_admin:order-review' order.order.id order.id order.user.id %}' style="color:white">
                            <button type="button" class="btn btn-purple btn-sm px-3">
                              <b style="font-size:170%">#{{ order.id }}</b>
                            </button>
                      </a>


                    </td>
                    <td>

                                {% if  order.verify_order %}
                                <p  class="fs-6 text-muted" style="font-size:80%;margin-bottom:0;">{{order.delivered_done_date}}</p>
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}


                  </td>
                    <td>
                                  {% if  order.delivered %}
                                  <p  class="fs-6 text-muted" style="font-size:80%;margin-bottom:0;">{{order.verify_done_date}}</p>
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}

                    </td>

                    <td>
                                {% if  order.payment_done %}
                                <p  class="fs-6 text-muted" style="font-size:80%;margin-bottom:0;">{{order.payment_done_date}}</p>
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}

                    </td>

                    <td>        {% if  order.get_order_complete %}
                                  <button type="button" class="btn btn-success btn-sm px-3">
                                      <i class="far fa-check-circle fa-2x"></i>
                                      </button> 
                                {% else %}
                                    <button type="button" class="btn btn-danger btn-sm px-3">
                                      <i class="far fa-times-circle fa-2x"></i>
                                    </button> 
                                {% endif %}

                      </td>
                  </tr>
                {% endfor %}
                </tbody>
                <tfoot class="table-dark">
                  <tr>
                    <th>ORDER ID
                    </th>
                    <th>VERIFICATION
                    </th>
                    <th>DELIVERED
                    </th>
                    <th>PAYMENTS
                    </th>
                    <th>ORDER COMPLETED
                    </th>
 
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
        <!-- Gird column -->

<br>

 <div class="col-md-6 pt-60">       

          <div class="card">
                                  <div class="card-header white-text purple">
                <h5 class="font-weight-500 my-1">Other Taxes Details</h5>
              </div>











             <div class="card-body">
                    <canvas id="myChart" width="400" height="200"></canvas>
            
              </div>

  </div>

        </div>


 <script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Ahmednagar','Akola','Amravati','Aurangabad','Beed','Bhandara','Buldhana','Chandrapur','Dhule','Gadchiroli','Gondia','Hingoli','Jalgaon','Jalna','Kolhapur','Latur','Mumbai','Nagpur','Nanded','Nandurbar','Nashik','Osmanabad','Parbhani','Pune','Raigad','Ratnagiri','Sangli','Satara','Sindhudurg','Solapur','Thane','Washim'],
        datasets: [{
            label: '# of Quantity Sold',
            data: [43,2,0,0,0],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
               'rgba(66, 133, 244, 0.3)',
                'rgba(66, 133, 244, 0.4)',
                'rgba(66, 133, 244, 0.5)',
                'rgba(66, 133, 244, 0.6)',
                'rgba(66, 133, 244, 0.7)',
                'rgba(66, 133, 244, 0.8)',
                'rgba(66, 133, 244, 0.9)',
                'rgba(66, 133, 244, 1)',
                'rgba(66, 133, 244, 0.9)',
                'rgba(66, 133, 244, 0.5)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 1)',
      
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(66, 133, 244, 0.3)',
                'rgba(66, 133, 244, 0.4)',
                'rgba(66, 133, 244, 0.5)',
                'rgba(66, 133, 244, 0.6)',
                'rgba(66, 133, 244, 0.7)',
                'rgba(66, 133, 244, 0.8)',
                'rgba(66, 133, 244, 0.9)',
                'rgba(66, 133, 244, 1)',
                'rgba(66, 133, 244, 0.9)',
                'rgba(66, 133, 244, 0.5)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 0.2)',
                'rgba(66, 133, 244, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            } 
          },

  legend: {
    display: false,
  },
  title: {
    display: true,
    text: ''
  },






        
    }
});
</script>








  <script type="text/javascript" src="{% static 'easylife_admin_static/js/modules/addons/datatables.min.js' %}"></script>
  <!-- DataTables Select  -->
  <script type="text/javascript" src="{% static 'easylife_admin_static/js/modules/addons/datatables-select.min.js' %}"></script>

  <script>
    // SideNav Initialization


    $('#dtMaterialDesignExample').DataTable();

    $('#dt-material-checkbox').dataTable({

      columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }],
      select: {
        style: 'os',
        selector: 'td:first-child'
      }
    });

    $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function () {
      $(this).parent().append($(this).children());
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
      'input').each(function () {
      $('input').attr("placeholder", "Search");
      $('input').removeClass('form-control-sm');
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
      'd-flex flex-row');
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').addClass(
      'md-form');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
      'custom-select custom-select-sm form-control form-control-sm');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
    $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
    $('#dtMaterialDesignExample_wrapper .dataTables_filte, #dt-material-checkbox_wrapper .dataTables_filterr').find(
      'label').remove();

  </script>
{% endblock content %}



